<launch>
    <arg name="enableRviz" default="true"/>
    <group if="$(eval arg('enableRviz') == true)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find startup)/rviz/odom.rviz"/>
    </group>
    <include file="$(find windMill)/launch/MV_cam.launch"/>
    <include file="$(find robot_model)/launch/urdf.launch"/>
<!--     <include file="$(find robot_driver)/launch/robot_driver.launch"/> -->
<!--     <include file="$(find serial_robot)/launch/robot_serial.launch"/> -->
    <include file="$(find localize_startup)/launch/start.launch" />
    <include file="$(find depth2scan)/launch/both.launch" />
    <include file="$(find project2plane)/launch/both.launch" />
    <include file="$(find pcl2process)/launch/pcl2pro.launch" />
    <include file="$(find move_controller)/launch/move_base.launch" />
    <include file="$(find serial_referee)/launch/referee_serial.launch" />
    <include file="$(find logic_control)/launch/logic_control.launch" />

</launch>

<!-- Please copy the following codes as MV_cam.launch to disable its screen output thus ez to debug the sentry! -->

<!-- <launch> -->
<!--    <param name="templates_path" value="$(find windMill)/templates/"/> -->
<!--    <param name="num_model_path" value="$(find windMill)/num_model.txt"/> -->
<!--    <param name="dbg_img_path" value="$(find windMill)/../../../../dbg_img/"/> -->

<!--    <node pkg="windMill" type="windMill_node" name="windMill" respawn="true" /> -->
<!--     <node pkg="mv_driver" type="mv_driver_node" name="mv_driver" respawn="true" /> -->
<!--     <node pkg="serial_robot" type="serial_robot_node" name="serial_robot_node" respawn="true" > -->
<!--     <remap from="/write" to ="/write_pixel"/> -->
<!--     </node> -->
<!--     <node pkg="img_displayer" type="img_displayer_node" name="img_displayer_1"/> -->

<!--    <rosparam command="load" file="$(find windMill)/cfg/params.yaml" /> -->

<!-- </launch> -->

<!-- <launch> -->
<!--    <param name="templates_path" value="$(find windMill)/templates/"/> -->
<!--    <param name="num_model_path" value="$(find windMill)/num_model.txt"/> -->
<!--    <param name="dbg_img_path" value="$(find windMill)/../../../../dbg_img/"/> -->

<!--    <node pkg="windMill" type="windMill_node" output="screen" name="windMill" respawn="true" /> -->
<!--     <node pkg="mv_driver" type="mv_driver_node" name="mv_driver" output="screen" respawn="true" /> -->
<!--     <node pkg="serial_robot" type="serial_robot_node" name="serial_robot_node"  > -->
<!--     <remap from="/write" to ="/write_pixel"/> -->
<!--     </node> -->
<!--     <node pkg="img_displayer" type="img_displayer_node" name="img_displayer_1" output="screen"  /> -->

<!--    <rosparam command="load" file="$(find windMill)/cfg/params.yaml" /> -->

<!-- </launch> -->