<launch>
    <arg name="tf_prefix" default="oak_front"/>
    <node name="$(arg tf_prefix)_d2s" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" args="">
        <remap from="image" to="/$(arg tf_prefix)_vio/depth"/>
        <remap from="/$(arg tf_prefix)_vio/camera_info" to="/$(arg tf_prefix)_vio/depth/camera_info"/>
        <remap from="scan" to="/$(arg tf_prefix)_vio/scan"/>
        <param name="scan_height" type="int" value="5"/>
        <param name="scan_time" type="double" value="0.033"/>
        <param name="range_min" type="double" value="0.45"/>
        <param name="range_max" type="double" value="10.0"/>
        <param name="output_frame_id" type="str" value="$(arg tf_prefix)_right_camera_frame"/>
    </node>
</launch>