<launch>
    <arg name="enableRviz" default="true"/>
    <group if="$(eval arg('enableRviz') == true)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find spectacular_ai)/rviz/odom.rviz"/>
    </group>
    
    <include file="$(find robot_model)/launch/urdf.launch"/>

    <include file="$(find spectacular_ai)/launch/vio.launch">
        <arg name="tf_prefix" value="oak_front"/>
        <arg name="mxId" value="184430107108351300"/>
    </include>

</launch>