<launch>
    <node pkg="tf" type="static_transform_publisher" name="map_tf_broadcaster_1" args="0 0 0 0 0 0 map odom 10" />
<!--     <node pkg="tf" type="static_transform_publisher" name="map_tf_broadcaster_2" args="0 0 0.5 0 0 0 plane_base_link body 10" /> -->
    <node pkg="tf" type="static_transform_publisher" name="map_tf_broadcaster_3" args="0 0 0.5 0 0 0 map camera_init 10" />
<!--     <node pkg="tf" type="static_transform_publisher" name="map_tf_broadcaster_4" args="0 0 0.1 0 0 0 base_link livox_frame 10" /> -->
</launch>
